<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
	<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


   
  

	<style>
		
		body {
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #f5f5f5
}

.hedding {
    font-size: 20px;
    color: #ab8181;
}

.main-section {
    position: absolute;
    left: 50%;
    right: 50%;
    transform: translate(-50%, 5%);
}

.left-side-product-box img {
    width: 100%;
}

.left-side-product-box .sub-img img {
    margin-top: 5px;
    width: 83px;
    height: 100px;
}

.right-side-pro-detail span {
    font-size: 15px;
}

.right-side-pro-detail p {
    font-size: 25px;
    color: #a1a1a1;
}

.right-side-pro-detail .price-pro {
    color: #E45641;
}

.right-side-pro-detail .tag-section {
    font-size: 18px;
    color: #5D4C46;
}

.pro-box-section .pro-box img {
    width: 100%;
    height: 200px;
}

@media (min-width:360px) and (max-width:640px) {
    .pro-box-section .pro-box img {
        height: auto;
    }
}
	</style>
</head>
<body>
	<div class="container">
		<div class="col-lg-8 border p-3 main-section bg-white">
            <%
            productData.forEach((pro)=>{
                %>
			<div class="row m-0">
				<div class="col-lg-4 left-side-product-box pb-3 ">
					<img src="../admin/<%=pro.productId.image[0]%>" id="zoom" class="border p-3 " >
					<span class="sub-img">
						<img src="../admin/<%=pro.productId.image[0]%>" class="border p-2">
						<img src="../admin/<%=pro.productId.image[1]%>" class="border p-2">
						<img src="../admin/<%=pro.productId.image[2]%>" class="border p-2">
					</span>
				</div>
				
				<div class="col-lg-8">
					<div class="right-side-pro-detail border p-3 m-0">
						<div class="row">
							<div class="col-lg-12">
								<span><%=pro.productId.catogory%> </span>
								<p class="m-0 p-0"><%=pro.productId.name%></p>
							</div>
							<div class="col-lg-12">
								<p class="m-0 p-0 price-pro"><%=pro.productId.price%></p>
								<hr class="p-0 m-0">
							</div>
							<div class="col-lg-12 pt-2">
								<h5>Product Detail</h5>
								<span><%=pro.productId.description%></span>
								<hr class="m-0 pt-2 mt-2">
							</div>
							<div class="col-lg-12">
								<p class="tag-section"><strong>Tag : </strong><a href="">Woman</a></p>
							</div>
							<div class="col-lg-12">
								<h6>Quantity :</h6>
								<input type="number" class="form-control text-center w-100" value="1">
							</div>
							<div class="col-lg-12 mt-3">
								<div class="row">
									
									
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
            <%
        })
        %>
        <style>
            #zoom {
              padding: 50px;
              
              transition: transform .2s; /* Animation */
              width: 20%px;
              height: 30%px;
              margin: 0 auto;
            }
            
            #zoom:hover {
              transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
            }
            </style>
		</div>
	</div>
	
	</script>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    
</body>
</html>